@font-face {
  font-family: myFont;
  src: url(./font/NCLHighPrime-Demo.otf) format("opentype");
  font-weight: 800;
}

.myName {
  font-family: myFont;
}

body {
    background-color: #F3EDD8;
  }

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #291900;
    font-size: 100px;

}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #291900;
    font-size: 55px;
    margin: 0;
    padding-top: 10%;

}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #291900;
    font-size: 24px;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: large;
    color: #291900;
    font-size: 32px;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-style: normal;
    color: #291900;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #291900;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
}

.navbar {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #291900;
  text-align: start;
  padding: 15px 15px;
  text-decoration: none;
  position: relative; 
}

.navbarIcons {
  padding: 15px 5px;
}


.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #291900;
  transition: bottom 0.3s ease;
}

.navbar a:hover::after {
  bottom: 6px;
}

.hello {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #291900;
  font-size: 100px;
  line-height: 100px;
  margin: 0;
}

.experienceFirst {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin: 0;
}

.experienceSecond {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
}

.experienceThird {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
}


.helloText {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #291900;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 32px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 5% 0 5% 0;
    margin: 0 15% 0 15%;


    .container {
        width: 25%;
        padding: 5% 10%;
    }

    .container-left {
        width: 50%;
        margin-right: 30px;
        padding-top: 70px
    }
    
    .container-right {
        width: 40%;
        margin-left: 5%;
        padding-top: 70px;

        > img {
          max-width: 100%;
          width: auto;
          height: auto;
        }

        .education {
            border:#DFD8BE;
            border-style: solid;
            border-width: 5px;
            margin-top: 25%;
            margin-bottom: 25%;
            padding: 10% 5% 10% 15%;
        
            > p {
                margin-block-start: 0;
                margin-block-end: 0;

            }
        }
    }


    .pointer {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
    
}

    .pointer i {
      padding: 20px;
      animation-name: bounce;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      position: relative;
      animation: 3s bounce infinite;
    }
  
    @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
    }
      
    }


.interduction {
    display: flex;
    padding: 5% 15%;
}

  .interduction > div {
    margin: 0px 50px;
}

.profile {
    display: flex;
    padding: 5% 15%;
}

.profile > div {
    margin: 0px 50px;
}

.helloContainer {
    display: flex;
    flex-direction: column;

    animation: 3s anim-lineUp ease-out 1;
  }

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }


}
  
.myWork {
    margin-top: auto;
    text-decoration: none;

  > p i {
      margin-left: 40px;
  }

  }


.workflow {

}

.pSkillet {
    line-height: 40px;
}

.icon {
    padding: 40px;
}

.skillsetHeader {
    width: 100%;
}

.skillset {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5%;
}

.toolsPic {
    padding-top: 10%;
}

footer {
  background-color:#F3EDD8;
  color: #291900;
  text-align: center;
  padding: 20px 0;

    .contact {
      font-family: myFont;
      font-size: 100px;
      margin: 0;
      padding-top: 5%;
    }

    .nameLogo
    {
      padding: 10% 0% 0% 15px;
      text-align: left;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 40px;
      margin: 0;
    }
    
    > a {
    color: #291900;

    }
}

@media only screen and (max-width: 950px) {

  h1 {
    font-size: 60px;

}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-style: normal;
    color: #291900;
}

.hello {
  font-size: 60px;
  line-height: 70px;
}

.helloText {
  font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 5% 0 5% 0;
    margin: 0 15% 0 15%;


    .container {
        width: 100%;
        padding: 5% 10%;
    }

    .container-left {
        width: 100%;
    }
    
    .container-right {
        width: 100%;

        > img {
          max-width: 100%;
          width: auto;
          height: auto;
        }

        .education {
            border:#DFD8BE;
            border-style: solid;
            border-width: 5px;
            padding: 10% 5% 10% 15%;
        
            > p {
                margin-block-start: 0;
                margin-block-end: 0;

            }
        }
    }

  }
}