@font-face {
    font-family: myFont;
    src: url(./NCLHighPrime-Demo.otf) format("opentype");
  }
  
body {
    background-color: #F3EDD8;
  }

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #291900;
    font-size: 100px;

}

.myWorks {
  font-family: myFont;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #291900;
    font-size: 30px;
    margin: 0;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #291900;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: large;
    color: #291900;
    font-size: 40px;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-style: normal;
    color: #291900;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #291900;
    margin-block-start: 0;
    font-size: 18px;
    padding: 0px 0 10px 0;
}

.navbar {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: space-between;
}
  
  .navbar a {
    color: #291900;
    text-align: start;
    padding: 15px 15px;
    text-decoration: none;
}

.navbarIcons {
    padding: 15px 5px;
}
  

.navbar a:hover {
    text-decoration: underline;

}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0 5% 0;
    margin: 0 15% 0 15%;
   
    .container-left {
        width: 45%;
        padding-top: 70px;

        > img {
            max-width: 100%;
            width: auto;
            height: auto;
          }
    }
    
    .container-right {
        width: 45%;
        padding-top: 70px;

        > img {
          max-width: 100%;
          width: auto;
          height: auto;
        }

    }
}

.imgBorder {
        border-radius: 5%;
}

.button {
        background-color: #F3EDD8;
        color: #291900;
        border: solid 2px;
        padding: 15px 32px;
        border-radius: 50px;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 16px;
}

.button:hover {
        background-color: #291900;
        color: #F3EDD8;

}
      
footer {
    background-color:#F3EDD8;
    color: #291900;
    text-align: center;
    padding: 20px 0;

    .contact {
      font-family: myFont;
      font-size: 100px;
      margin: 0;
      padding-top: 5%;
    }

    .nameLogo
    {
      padding: 10% 0% 0% 15px;
      text-align: left;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 40px;
      line-height: 40px;
      margin: 0;
    }
    
    > a {
    color: #291900;

    }
}