@font-face {
  font-family: myFont;
  src: url(./font/NCLHighPrime-Demo.otf) format("opentype");
  font-weight: 800;
}

html {
  scroll-behavior: smooth;
}

.myWorks {
  font-family: myFont;
  font-size: 120px;
}

.myName {
  font-family: myFont;
}

body {
  background-color: #F8F4EE;
  margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #291900;
  font-size: 100px;
  line-height: 100px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #291900;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(41, 25, 0, 0.6);
  font-size: 14px;
  margin: 0;
  padding: 5px 0 5px 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #291900;
  font-size: 16px;
  margin: 0;
}

.pText {
  margin-block-start: 0;
  padding: 0px 0 10px 0;
  height: 95px;
}

.helloText {
  font-size: 42px;
}

.navbar {
  background-color: #F8F4EE;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  padding: 0 10px 0 10px;
  font-size: 20px;
  z-index: 1;
}

.navbar a {
  color: #291900;
  text-align: start;
  padding: 15px 15px;
  text-decoration: none;
  position: relative;
}

.navbarIcons {
  padding: 15px 5px;
}

.navCenter {
  align-items: center;
}

@media only screen and (min-width: 420px) {
  .navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #a5be6a;
    transition: bottom 0.3s ease;
  }

  .navbar a:hover::after {
    bottom: 6px;
  }
}

.header {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.headerVisible {
  opacity: 1;
  transform: translateY(0);
}

.mainPhoto {
  align-items: center;

  > img {
    max-width: 100%;
    width: 100%;
    height: 50%;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 0 5% 0;
  margin: 0 15% 0 15%;

  .container-left {
    width: 45%;
    padding-top: 70px;

    > img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .container-right {
    width: 45%;
    padding-top: 70px;

    > img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}

.hoverText {
  position: relative;
}

.imgBorder {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
}

.middleBox {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.container-left:hover .imgBorder {
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
}

.container-left:hover .middleBox {
  opacity: 1;
  text-decoration: none;
}

.container-right:hover .imgBorder {
  filter: brightness(30%);
  -webkit-filter: brightness(30%);
}

.container-right:hover .middleBox {
  opacity: 1;
  text-decoration: none;
}

.middleText {
  color: #a5be6a;
  font-size: 16px;
  padding: 12px 18px;
}

.headText {
  animation: 3s anim-lineUp ease-out 1;
  width: 100%;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #dfd8be;
  color: #291900;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #a5be6a;
  color: #291900;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.button {
  background-color: #F8F4EE;
  color: #291900;
  border: solid 2px;
  padding: 10px 26px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
}

.button:hover {
  background-color: #291900;
  color: #F8F4EE;
  border-color: #291900;
}

.footerText {
  font-size: 24px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #291900;
  padding: 5% 15% 0 15%;

  .contact {
    font-family: myFont;
    font-size: 100px;
    margin: 0;
    padding-top: 5%;
  }

  .nameLogo {
    padding: 10% 0% 0% 25px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    color: #291900;
  }

  > a {
    color: #291900;
  }

  .footerText {
    height: 0;
  }
  .madeit {
    padding-top: 30%;
  }

  .contact {
    font-family: myFont;
    font-size: 90px;
    margin: 0;
  }

  .link {
    color: #291900;
    text-decoration: none;
    font-size: 24px;
  }

  .link:hover {
    font-weight: 500;
  }

}


@media only screen and (min-width: 950px) {
  .mobile {
    display: none !important;
  }
  .topnav {
    display: none !important;
  }
}

@media only screen and (max-width: 950px) {
  .navbar {
    display: none !important;
  }

  .desktop {
    display: none !important;
  }

  .hello {
    font-size: 80px;
  }

  .helloText {
    font-size: 18px;
  }

  .mobile-container {
    max-width: 480px;
    margin: auto;
    height: 500px;
    color: #dfd8b3;
    border-radius: 10px;
  }

  .topnav {
    overflow: hidden;
    background-color: #dfd8b3;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: #291900;
    padding: 14px 5%;
    text-decoration: none;
    font-size: 20px;
    display: block;
    background-color: #F8F4EE;
  }

  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    color: #291900;
  }

  .active {
    color: #291900;
  }

  .myWorks {
    font-size: 90px;
  }

  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #291900;
    font-size: 60px;
    line-height: 70px;
  }

  h2 {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #291900;
    font-size: 24px;
    margin: 0;
  }

  p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #291900;
    margin-block-start: 0;
    font-size: 16px;
    height: auto;
  }

  .pText {
    height: 110px;
  }


  .content {
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;

    .container-left {
      width: 100%;
      padding-top: 85px;

      > img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }

    .container-right {
      width: 100%;
      padding-top: 70px;

      > img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .footerText {
    padding-top: 20%;
  }

  .contact {
    font-size: 60px;
  }
  
  .nameLogo {
    font-size: 20px;
    line-height: 20px;
  }
}
